<h1><%= poll.title %></h1>
<% poll.options.forEach(function(option){ %>

    <h3><%= option.text %> - Current count: <%=option.count %></h3>
    <form action="/polls/<%= poll._id %>?_method=PUT" method="POST">
        <button name="votedFor" value="<%= option._id %>">VOTE</button>
    </form>
    
<% }); %>